<template>
  <div
    class="answerType string"
    v-if="typeof answer === 'string'"
    v-html="answer"
  ></div>
  <div
    v-else-if="currentAnswerTypeComponent(answer.type) === 'unknownAnswer'"
  >Error: Unknown answertype
  </div>
  <component
    v-else
    v-bind:is="currentAnswerTypeComponent(answer.type)"
    v-bind:answer="answer"
    v-bind:answerset="answerset"
    v-on:changedAnswer="changedAnswer"
    class="answerType"
  ></component>
</template>

<script>
  import Freetext from './Freetext';
  import RadioButton from './RadioButton';
  import Dropdown from './Dropdown';
  import Checkbox from './Checkbox';
  import MatrixRadioButton from './MatrixRadioButton';
  import MatrixCheckbox from './MatrixCheckbox';
  import Composed from './ComposedAnswer';

  export default {
    name: 'answerType',
    props: ['answer', 'answerset'],
    components: {
      Freetext, RadioButton, Checkbox, Dropdown, MatrixRadioButton, MatrixCheckbox, Composed
    },
    methods: {
      currentAnswerTypeComponent: function(answertype) {
        switch (answertype) {
          case 'radiobutton':
            return RadioButton;
          case 'checkbox':
            return Checkbox;
          case 'freetext':
            return Freetext;
          case 'dropdown':
            return Dropdown;
          case 'radiobutton-matrix' :
            return MatrixRadioButton;
          case 'checkbox-matrix' :
            return MatrixCheckbox;
          case 'compose' :
            return Composed;
          /* add other answertypes here */
          default:
            return 'unknownAnswer';
        }
      },
      changedAnswer: function (answerObject) {
        this.$emit('changedAnswer', answerObject);
      }
    },
  };
</script>

<style scoped>
</style>
