<template>
  <div
    class="answertype"
    type="compose"
  >
    <answertype
      class="answer compose-part"
      type="answertype"
      v-for="(answeroption, answeroptionIndex) in answer.options"
      :key="answeroptionIndex"
      v-bind:answer="answeroption"
      v-bind:answerset="answerset"
      v-on:changedAnswer="changedAnswer"
    ></answertype>
  </div>
</template>

<script>
  export default {
    name: "compose",
    props: ['answer', 'answerset'],
    methods: {
      changedAnswer: function (answerObject) {
        this.$emit('changedAnswer', answerObject);
      }
    }
  };
</script>

<style scoped>
  .compose-part {
    display: inline;
    background-color: transparent;
  }
</style>
