<template>
  <div
    class="answertype"
    type="dropdown"
  >
    <select
      class="dropdown selector before-click"
      v-bind:id="'dropdown-'+answer.id"
      v-on:focus="colorActive()"
      v-on:input="answerChanged($event.target.value)"
    >
      <option class="default" disabled value=""
              v-bind:selected="noneSelected()"
      >
        {{instruction}}
      </option>
      <option
        v-for="(answeroption, answeroptionIndex) in answer.options"
        :key="answeroptionIndex"
        v-bind:value="answeroption"
        v-bind:selected="isSelected(answeroption)"
      >
        {{answeroption}}
      </option>
    </select>
    <br/>
  </div>
</template>

<script>
  import * as lang from './../../languages/lang-de';

  export default {
    name: "dropdown",
    props: ["answer", "answerset"],
    data: function () {
      return {
        answerObject: {id: this.answer.id, lastChange: -1, value: ""},
        instruction: lang.content.dropdownDisabledValue
      };
    },
    methods: {
      colorActive: function () {
        document.getElementById('dropdown-' + this.answer.id).classList.remove('before-click');
      },
      answerChanged: function (value) {
        this.answerObject.value = value;
        this.answerObject.lastChange = Date.now();
        this.$emit('changedAnswer', this.answerObject);
      },
      noneSelected: function () {
        const index = this.answerset.findIndex(x => x.id === this.answer.id);
        return index === -1;
      },
      isSelected: function (option) {
        const index = this.answerset.findIndex(x => x.id === this.answer.id);
        if (index !== -1) {
          return this.answerset[index].value === option;
        }
      }
    }
  };
</script>

<style scoped>
  .answertype[type="dropdown"] {
    margin-bottom: 2ch;
    max-width: 99%;
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
  }

  select {
    -webkit-appearance: menulist;
    -moz-appearance: menulist;
  }

  option {
    padding: 0.5ch;
  }

  .dropdown {
    margin: 1ch;
    padding: 1ch;
    max-width: inherit;
    background-color: #FAFAFA;
    font-size: medium;
    border: 0;
    border-bottom: 2px solid #1B5E20;
    border-right: 1px solid grey;
  }

  .before-click {
    color: grey;
  }

  .dropdown:hover {
    -webkit-filter: brightness(0.95);
    filter: brightness(0.95);
    cursor: pointer;
  }

</style>
