<template>
  <div
    class="answertype"
    type="freetext"
  >
    <input
      v-if="answer.rows === 1"
      class="freetext input"
      v-bind:size="answer.cols"
      v-bind:placeholder="answer.defaultText"
      v-bind:value="value"
      v-on:input="answerChanged($event.target.value)"
    />
    <textarea
      v-else
      class="freetext textarea"
      v-bind:rows="answer.rows"
      v-bind:cols="answer.cols"
      v-bind:placeholder="getPlaceholder"
      v-on:input="answerChanged($event.target.value)"
    >{{value}}</textarea>
  </div>
</template>

<script>
  export default {
    name: 'freetext',
    props: ['answer', 'answerset'],
    data: function () {
      return {
        answerObject: {id: this.answer.id, lastChange: -1, value: ""}
      };
    },
    computed: {
      getPlaceholder: function () {
        if (this.answer.hasOwnProperty('defaultText')) {
          return this.answer.defaultText;
        }
        return "";
      },
      value: function () {
        const index = this.answerset.findIndex(x => x.id === this.answer.id);

        if (index !== -1) {
          return this.answerset[index].value;
        }
        else {
          return "";
        }
      },
    },
    methods: {
      answerChanged: function (value) {
        this.answerObject.value = value;
        this.answerObject.lastChange = Date.now();
        this.$emit('changedAnswer', this.answerObject);
      }
    }
  };
</script>

<style scoped>
  .answertype[type="freetext"] {
    width: 100%;
    max-width: 100%;
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
  }

  input.freetext, textarea.freetext {
    position: relative;
    width: inherit;
    font-size: large;
  }

  textarea.freetext {
    width: 97%;
    margin: 1ch;
    resize: vertical;
  }

  input.freetext {
    max-width: 78%;
  }

  .freetext {
    background-color: whitesmoke;
    border: 0;
    -webkit-box-shadow: 1px 1px 1px grey;
    box-shadow: 1px 1px 1px grey;
  }

  .freetext:hover {
    -webkit-filter: brightness(0.97);
    filter: brightness(0.97);
  }

  /* if freetext is direct freetext and not part of composed or sub-answers*/
  div.answerPart > div.answertype > .freetext {
    margin: 10px;
    padding: 0.5vh;
  }
</style>
