<template>
  <table
    class="answertype"
    type="matrix"
  >
    <tr class="table-head">
      <th></th>
      <th
        v-for="label in answer.labels"
        class="matrix-label rotate"
        v-bind:style="flexSpacingAbove"
      >
        <div v-bind:style="flexSpacingLabel"><span>{{label}}</span></div>
      </th>
      <th v-bind:style="flexSpacingLeft"></th>
    </tr>
    <tr
      v-for="(statement,statementIndex) in answer.options"
      :key="answer.id+'-'+statementIndex"
      class="table-row listing"
    >
      <td
        class="nohover"
        v-html="statement"
      ></td>
      <td
        class="option"
        v-for="(label,labelIndex) in answer.labels"
        :key="answer.id+'-'+statementIndex+'-'+labelIndex"
      >
        <label
          class="hover checkbox-answer"
          v-bind:class="{checked: isChecked(answer.id+'-'+statementIndex+'-'+labelIndex)}"
          v-bind:for="answer.id+'-'+statementIndex+'-'+labelIndex"
          v-bind:id="'l-'+answer.id+'-'+statementIndex+'-'+labelIndex"
          v-on:change="toggleChecked('l-'+answer.id+'-'+statementIndex+'-'+labelIndex)"
        >
          <input
            type="checkbox"
            v-bind:name="answer.id+'-'+statementIndex"
            v-bind:value="answer.id+'-'+statementIndex+'-'+labelIndex"
            v-bind:id="answer.id+'-'+statementIndex+'-'+labelIndex"
            v-bind:checked="isChecked(answer.id+'-'+statementIndex+'-'+labelIndex)"
            v-on:change="answerChanged($event.target.value)"
          />
        </label>
      </td>
    </tr>
  </table>
</template>

<script>
  export default {
    name: 'MatrixCheckbox',
    props: ['answer', 'answerset'],
    computed: {
      answerObject: function () {
        const index = this.answerset.findIndex(x => x.id === this.answer.id);

        if (index === -1) {
          return {id: this.answer.id, lastChange: -1, value: []};
        }
        else {
          return this.answerset[index];
        }
      },
      flexSpacingAbove: function () {
        let maxLengthLabel = Math.max(...(this.answer.labels.map(label => label.length)));
        let topSpace = Math.sin(-50) * maxLengthLabel;
        let h = topSpace / 2;
        let p = topSpace * 2.5;
        return {
          height: h + 'ch',
          'padding-top': p + 'ch',
          'padding-bottom': topSpace + 'px',
        };
      },
      flexSpacingLeft: function () {
        let lengthLastLabel = this.answer.labels[this.answer.labels.length - 1].length;
        let leftSpace = Math.cos(-50) * lengthLastLabel / 2;
        return {
          'width': leftSpace + 'ch',
        };
      },
      flexSpacingLabel: function () {
        return {
          width: 'calc(2ch + 1vw)',
        };
      }
    },
    methods: {
      toggleChecked: function (labelId) {
        let inputLabel = document.getElementById(labelId);
        inputLabel.classList.toggle("checked");
        if(inputLabel.classList.contains("checked")) {
          inputLabel.parentNode.style.backgroundColor = '#43A047';
        } else {
          inputLabel.parentNode.style.backgroundColor = 'transparent';
        }
      },
      /**
       * updates saved Answer on change event.
       * updates the List of answers and informs parent of change.
       * @param value new Answer
       * @returns {answerObject|{id, value}}
       */
      answerChanged: function (value) {
        let valueIndex = this.answerObject.value.findIndex(x => x === value);
        if (valueIndex === -1) {
          this.answerObject.value.push(value);
        } else {
          this.answerObject.value.splice(valueIndex, 1);
        }
        this.answerObject.lastChange = Date.now();
        this.$emit('changedAnswer', this.answerObject);
      },
      isChecked: function (optionIndex) {
        const index = this.answerset.findIndex(x => x.id === this.answer.id);
        return index !== -1 && this.answerset[index].value.findIndex(x => x === optionIndex) !== -1;
      }
    }
  };
</script>

<style scoped>
  [type="matrix"] {
    width: 100%;
    border-collapse: collapse;
    box-sizing: initial;
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
  }

  .matrix-label, .nohover {
    text-align: left;
  }

  th.rotate {
    white-space: nowrap;
  }

  th.rotate > div {
    -webkit-transform: rotate(-50deg);
    transform: rotate(-50deg);
  }

  th.rotate > div > span {
    padding: 2px 2px;
    border-bottom: 1px solid;
  }

  td.nohover {
    padding: 1vh 1ch;
  }

  label.hover {
    display: block;
  }

  @media screen and (max-width: 800px) {
    table {
      display: block;
      overflow-x: auto;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
      overflow-scrolling: touch;
    }

    td.nohover {
      min-width: 200px;
    }

    .checkbox-answer {
      width: 5ch !important;
    }
  }

  @media screen and (max-height: 800px) {
    td.nohover {
      padding: 2vh 1ch;
    }
  }

</style>
