<template>
  <v-layout
    class="answertype"
    type="radioButton"
    wrap
    v-bind:id="'container'+answer.id"
    v-bind:column="answer.orientation !== 'inline' || $vuetify.breakpoint.mdAndDown"
    v-bind:style="scrollListHeight"
  >
      <label
        class="listing answer"
        type="radio-answer"
        v-for="(answeroption, answeroptionIndex) in answer.options"
        :key="answeroptionIndex"
        v-bind:for="answer.id+'-'+answeroptionIndex"
        v-bind:style="getOrientation($vuetify.breakpoint.mdAndDown)"
        v-bind:id="'l-'+answer.id+'-'+answeroptionIndex"
        v-bind:class="{checked: isChecked(answeroptionIndex)}"
      >
        <input
          type="radio"
          v-bind:name="answer.id"
          v-bind:value="answer.id+'-'+answeroptionIndex"
          v-bind:id="answer.id+'-'+answeroptionIndex"
          v-on:change="answerChanged($event.target.value)"
          v-bind:checked="isChecked(answeroptionIndex)"
        />
        <answertype
          type="answertype"
          v-bind:answer="answeroption"
          v-bind:answerset="answerset"
          v-on:changedAnswer="changedAnswer"
        ></answertype>
        <br/>
      </label>
  </v-layout>
</template>

<script>

  export default {
    name: 'radioButton',
    props: ['answer', 'answerset'],
    data: function () {
      return {
        answerObject: {id: this.answer.id, lastChange: -1, value: ""}
      };
    },
    computed: {
      scrollListHeight: function () {
        return {
          'max-height': 0.4*window.innerHeight + 'px',
        }
      },
    },
    methods: {
      /** Gets orientation for displaying radiobutton answers and derives length of labels to each radiobutton.
       * @param isSmall indice for a large viewport
       * @return css width-attribute
       */
      getOrientation: function (isSmall) {
        let maxLengthAnswer = Math.max(...(this.answer.options.map(label => label.length)));
        let labelLength = maxLengthAnswer*0.8 + 10;
        if (this.answer.orientation === 'inline' && !isSmall) {
          return {
            'width': labelLength+'ch',
          };
        }
      },
      /** Updates "checked"-class from radiobuttons such that just the selected option has class "checked".
       * @param labelId is element-id of label from radiobutton
       */
      toggleChecked: function (labelId) {
        for (const i in this.answer.options) {
          document.getElementById(`l-${this.answer.id}-${i}`).classList.remove("checked");
        }
        const inputLabel = document.getElementById(labelId);
        inputLabel.classList.add("checked");
      },
       /** Emitted when changes of answers are logged in a child component.
       * Updates answerObject and passes change event through to parent.
       * @param answerObject from capsuled answer
       */
      changedAnswer: function (answerObject) {
        /* refactoring solution for this function in next version.*/
        const lastOption = this.answer.options.length - 1;
        if (!this.isChecked(lastOption)) {
          this.answerChanged(`${this.answer.id}-${lastOption}`);
        }

        this.$emit('changedAnswer', answerObject);
      }
      ,
      /** Emitted when changes of answers are logged in the component itself.
       * Updates answerObject and passes change event to parent.
       * Decolorizes background of unchecked answers.
       * @param value contains id of changed element or currrent Text for text answers
       */
      answerChanged: function (value) {
        /* decolorizes background of unchecked answer */
        if (this.answerObject.value !== "") {
          let oldChecked = document.getElementById(this.answerObject.value);
          oldChecked.parentNode.classList.remove("checked");
        }
        this.answerObject.value = value;
        this.answerObject.lastChange = Date.now();
        this.$emit('changedAnswer', this.answerObject);
      },
      /** Gets checked state of given answer
       * @param answeroptionIndex id of answerOption in options for the question
       * @return {boolean} true if answer is selected
       */
      isChecked(answeroptionIndex) {
        const index = this.answerset.findIndex(x => x.id === this.answer.id);
        return index !== -1 && this.answerset[index].value === `${this.answer.id}-${answeroptionIndex}`;
      }
    },
  }
  ;
</script>

<style scoped>
  .layout {
    flex-wrap: wrap;
    flex-basis: 100%;
    flex-grow: 0;
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.5));
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.5));
    overflow: auto;
  }

  .column {
    background-color: transparent;
  }

  [type="radio-answer"] {
    display: block;
    width: auto;
    padding: 1vh 2ch;
    border: none;
    text-align: left;
  }

  [type="answertype"] {
    display: inline;
    width: auto;
    height: auto;
    padding-left: 5px;
    background-color: transparent;
  }

  .checked {
    background-color: #43A047;
  }

  @media screen and (min-height: 700px) {
    [type="radioButton"] {
      height: inherit !important;
    }
  }


  /* Screen height <= 700px */
  @media screen and (max-height: 800px) {
    [type="radio-answer"] {
      padding: 2vh 2ch;
    }
  }
</style>
