<template>
  <div
    class="content-container"
    id="gdprDeclined"
  >
    <div
      v-html="gdprDeclined"
    ></div>
  </div>
</template>

<script>
  import * as lang from './../languages/lang-de.json';

  export default {
    name: 'gdprDeclined',
    data: function () {
      return {
        gdprDeclined: lang['gdpr-declined']
      };
    }
  };
</script>

<style scoped>
</style>
