<template>
  <div
    class="pageContent content-container text-xs-left"
    id="gdprnotice">
    <h2>{{gdprTitle}}</h2>
    <v-flex
      class="privacyNotice"
      v-html="gdprNotice">
    </v-flex>
  </div>
</template>

<script>
  import * as lang from '../languages/lang-de';

  export default {
    name: 'pageContent',
    props: ['gdprNotice'],
    data: function () {
      return {
        gdprTitle: lang.content.gdprTitle,
      }
    }
  };
</script>

<style scoped>
  h2 {
    width: 80%;
    margin: auto;
  }

  .privacyNotice {
    width: 80%;
    margin: 2vh auto;
    max-height: 400px;
    overflow: auto;
    padding: 2ch;
    background-color: whitesmoke;
    -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
  }

  @media screen and (max-width: 800px) {
    h2, .privacyNotice {
      width: 95%;
    }
  }

  @media screen and (max-height: 700px) {
    .privacyNotice {
      max-height: 150px;
    }
  }
</style>
