<template>
    <div
            class="content-container questionContent"
            id="question"
    >
        <div class="questionTitle">{{questionTitle}}</div>
        <div
                v-for="answer in this.questionset[this.questionIndex].answers"
                :key="answer.id"
                class="answerPart"
        >
            <div class="answerInstruction">{{answer.task}}</div>
            <answertype
                    class="answertype"
                    v-bind:answer="answer"
                    v-bind:answerset="answerset"
                    v-on:changedAnswer="changedAnswer"
            ></answertype>
        </div>
    </div>
</template>

<script>

    export default {
        name: "pageContent",
        props: ["pageIndex", "questionset", "questionIndex", "answerset"],
        computed: {
            questionTitle: function () {
                let tmp = this.questionIndex < this.questionset.length ? this.questionIndex : 0;
                return this.questionset[tmp].questiontext;
            }
        },
        methods: {
            /**
             * Add answerObject to answerArray if id not found, otherwise updates value, data of answerObject.
             * @param answerObject
             */
            changedAnswer: function (answerObject) {
                console.log(answerObject);
                let index = this.answerset.findIndex(x => x.id === answerObject.id);
                if (index === -1) {
                    this.answerset.push(answerObject);
                } else {
                    this.answerset[index].value = answerObject.value;
                }
            }
        },
        data() {
            return {};
        },
    };
</script>

<style scoped>
    .questionContent {
        background-color: transparent;
    }

    .questionTitle {
        font-size: large;
        padding: 10px;
        -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
        filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
    }

    .answerPart {
        margin-top: 20px;
        padding: 5px 10px;
    }


    div > .answerInstruction {
        text-align: left;
        font-style: italic;
        font-size: medium;
        padding: 1px;
        -webkit-filter: none;
        filter: none;
    }
</style>
