<template>
  <div class="content-container"
       id="welcome"
       v-html="welcomePage">
  </div>
</template>

<script>
  export default {
    name: "welcome",
    props: ['welcomePage']
  };
</script>

<style scoped>
</style>
