<div>
    <h1>Geschafft!</h1>
    <p>
        Vielen Dank für Deine Teilnahme und das Abschließen der Umfrage. Wir wünschen Dir viel
        Erfolg bei allen noch anstehenden Klausuren und Hausarbeiten, sowie eine schöne und erholsame vorlesungsfreie
        Zeit.
    </p>
    <p>Du kannst diesen Tab oder das Browserfenster nun schließen.</p>
</div>