<template>
  <v-layout
    v-if="gdprAccepted"
    class="pageContent green lighten-5">
    <component
      v-bind:is="currentTabComponent"
      v-bind:welcomePage="welcomePage"
      v-bind:gdprNotice="gdprNotice"
      v-bind:questionset="questionset"
      v-bind:questionIndex="questionIndex"
      v-bind:endPage="endPage"
      v-bind:answerset="answerset"
      class="content-container"
    ></component>
  </v-layout>
  <v-layout
    v-else
    class="pageContent green lighten-5">
    <GDPRDeclined></GDPRDeclined>
  </v-layout>
</template>

<script>
  import Welcome from './pagecontent/Welcome.vue';
  import GDPRNotice from './pagecontent/GDPRNotice.vue';
  import GDPRDeclined from './pagecontent/GDPRDeclined';
  import Question from './pagecontent/Question.vue';
  import GoodBye from './pagecontent/GoodBye.vue';

  export default {
    name: 'pageContent',
    components: {
      Welcome, GDPRNotice, GDPRDeclined, Question, GoodBye,
    },
    props: ['pageIndex', 'welcomePage', 'gdprNotice', 'questionset', 'questionIndex', 'gdprAccepted', 'endPage', 'answerset'],
    data() {
      return {
        currentTab: 'Welcome',
        content: ['Welcome', 'GDPRNotice', 'Question', 'GoodBye'],
      };
    },
    computed: {
      currentTabComponent: function () {
        return this.content[this.pageIndex];
      }
    }
  };

</script>

<style scoped>
  .pageContent {
    width: 60%;
    margin: auto;
    padding-bottom: 1ch;
    /* Add padding to pageContent to prevent sudden quick movement */
    padding-top: 70px !important;
    padding-top: calc(55px + 3vh) !important;
  }

  .content-container {
    width: 90%;
    margin: auto;
  }

  /* On screens that are 992px or less -> touchable but screen-layout */
  @media screen and (max-width: 1028px) {
    .pageContent {
      width: 80%;
    }
  }

  /* On screens that are 600px or less -> mobile layout */
  @media screen and (max-width: 700px) {
    .pageContent {
      width: 90%;
      padding: 1ch 0;
    }
    .content-container {
      width: 95%;
      margin: auto;
    }
  }

  @media screen and (max-height: 700px) {
    .pageContent {
      /* sticky-header height + 10px spacer */
      padding-top: 55px;
    }
  }

</style>
