<template>
  <div
      v-if="gdprAccepted"
      class="navigation bar"
  >
    <v-btn
        class="button previous float"
        type="button"
        v-if="pageIndex === 1 || (pageIndex === 2 && questionIndex !== 0)"
        v-on:click="clickedPrevious"
        append
    >
      <v-icon
          class="button-content"
          v-if="$vuetify.breakpoint.smAndDown"
          x-large
      >{{previousIcon}}
      </v-icon>
      <span
          class="button-content"
          v-if="$vuetify.breakpoint.mdAndUp"
          id="previousButton-text"
      >{{previousButton}}</span>
    </v-btn>
    <v-btn
        class="button next float"
        type="button"
        v-if="pageIndex !== 3"
        v-on:click="clickedNext"
        append
    >
          <span
              class="button-content"
              v-if="$vuetify.breakpoint.mdAndUp"
              id="nextButton-text"
          >{{nextButton}}</span>
      <v-icon
          v-if="$vuetify.breakpoint.smAndDown"
          class="button-content"
          x-large
      >{{nextIcon}}
      </v-icon>
    </v-btn>
  </div>
  <div
      v-else
      class="navigation bar"
  >
    <v-btn
        class="button previous float"
        type="button"
        v-on:click="goToStart"
        append
    >
      <span
              class="button-content"
              v-if="$vuetify.breakpoint.mdAndUp"
              id="welcomeButton-text"
          >{{welcomeButton}}</span>
      <v-icon
          v-if="$vuetify.breakpoint.smAndDown"
          class="button-content"
          x-large
      >{{welcomeIcon}}
      </v-icon>
    </v-btn>

    <v-btn
        class="button next float"
        type="button"
        v-on:click="goToGDPR"
        append
    >
          <span
              class="button-content"
              v-if="$vuetify.breakpoint.mdAndUp"
              id="revokeButton-text"
          >{{revokeButton}}</span>
      <v-icon
          v-if="$vuetify.breakpoint.smAndDown"
          class="button-content"
          x-large
      >{{revokeIcon}}
      </v-icon>
    </v-btn>


  </div>
</template>

<script>
    import * as lang from './languages/lang-de.json';

    export default {
        name: "NavigationBar",
        props: ["pageIndex", "questionIndex", "gdprAccepted"],
        methods: {
            clickedNext: function () {
                this.$emit('clickedNext');
            },
            clickedPrevious: function () {
                this.$emit('clickedPrevious');
            },
            goToStart: function () {
                this.$emit('showWelcomePage');
            },
            goToGDPR: function () {
                this.$emit('showGDPRNotice');
            },
        },
        computed: {
            previousButton: function () {
                switch (this.pageIndex) {
                    case (0):
                        return lang.navigation.disabled;
                    case (1):
                        return lang.navigation.decline;
                    case (2):
                        return lang.navigation.previous;
                    case (3):
                        return lang.navigation.previous;
                }
            },
            previousIcon: function () {
                switch (this.pageIndex) {
                    case 0:
                        return 'tag_faces';
                    case 1:
                        return 'close';
                    case 2:
                        return 'chevron_left';
                    case 3:
                        return 'chevron_left';
                }
            },
            nextButton: function () {
                switch (this.pageIndex) {
                    case (0):
                        return lang.navigation.next;
                    case (1):
                        return lang.navigation.accept;
                    case (2):
                        return lang.navigation.next;
                    case (3):
                        return lang.navigation.goodbye;
                }
            },
            nextIcon: function () {
                switch (this.pageIndex) {
                    case 0:
                        return 'chevron_right';
                    case 1:
                        return 'check';
                    case 2:
                        return 'chevron_right';
                    case 3:
                        return 'meeting_room';
                }
            }
        },
        data: function () {
            return {
                revokeButton: lang.navigation.revoke,
                welcomeButton: lang.navigation.welcome,
                revokeIcon: 'undo',
                welcomeIcon: 'home',
            };
        }
    };


</script>

<style scoped>
  .navigation {
    position: fixed;
    width: 60%;
    height: 40px;
    margin: 0 20% 0 20%;
    bottom: 15px;
  }

  .navigation > .button {
    position: fixed;
    bottom: 20px;
    height: inherit;
    /* magic numbers: fit longest button-label */
    width: 15vw;
    min-width: 210px;
  }

  .previous {
    left: 20%;
  }
  .next {
    right: 20%;
  }

  /* On screens that are 992px or less -> touchable but screen-layout */
  @media screen and (max-width: 1028px) {
    .navigation {
      width: 80%;
      margin: 0 10% 0 10%;
    }

    .navigation > .button {
      width: 15vw;
    }

    .previous {
      left: 10%;
    }

    .next {
      right: 10%;
    }
  }

  /* for smaller viewports button-width can shrink */
  @media screen and (max-width: 960px) {
    .navigation > .button {
      min-width: fit-content;
    }
  }

  /* On screens that are 600px or less -> mobile layout */
  @media screen and (max-width: 700px) {
    .navigation {
      width: 100%;
      padding: 5px 0;
      margin: 0;
    }

    .previous {
      left: 10px;
    }

    .next {
      right: 10px;
    }
  }
</style>
