<template>
  <div
    class="pageHeader"
    type="navigation-element"
  >
    <!--v-bind:style="showProgress"-->
    <v-dialog
      v-model="logoDialog"
      width="500"
      hide-overlay
    >
      <v-btn
        class="icon logo-btn"
        id="logo"
        slot="activator"
        color="transparent"
        tag="img"
        src="assets/logo.png"
        fab
        depressed
      >
      </v-btn>
      <v-card class="">
        <v-card-title class="headline orange darken-4" primary-title>
          <v-btn icon dark @click.native="logoDialog = false">
            <v-icon>close</v-icon>
          </v-btn>
          <v-toolbar-title>Apple Crumble</v-toolbar-title>
        </v-card-title>
        <v-card-text class="easterEgg grey lighten-4 grey--text text--darken-4">
          <li>500g Äpfel (geschnitten)</li><li>100g Butter</li><li>100 g Zucker</li><li>175 g mehl</li><li>etwas Zimt</li><li>Den Saft einer Zitrone</li>
          <br>
        <br>
        <p>Apfelspalten mit Zitronensaft beträufeln und in eine gefettete Auflaufform geben.
          Aus Butter, Zucker, Mehl und etwas Zimtpulver einen Streuselteig bereiten und auf den Äpfeln verteilen.
          Bei 200 Grad im vorgeheizten Ofen ca. 30 Minuten backen.
          Warm mit Eis und Schlagsahne servieren.
        </p>
        </v-card-text>
      </v-card>
    </v-dialog>
    <span
      class="surveytitle"
      id="surveytitle"
      v-html="surveytitle"
    ></span>
    <v-btn
      class="icon-btn"
      id="menuButton"
      v-on:click="toggleSidebar()"
      fab
      depressed
    >
      <v-icon v-if="$vuetify.breakpoint.smAndUp" x-large dark class="icon">menu</v-icon>
      <v-icon v-if="$vuetify.breakpoint.xsOnly" large dark class="icon">menu</v-icon>
    </v-btn>
    <v-progress-linear color="orange accent-4" background-color="orange lighten-3" v-model="progressDeterminate" height="10"></v-progress-linear>
    <v-list
      class="navbar sidebar wrapper"
      id="sidebar"
      v-if="sidebarVisible"
    >
      <v-list-tile
        class="navelement green darken-2"
        @click.stop="toggleImpressumAndSidebar"
      >
        {{imprint}}
      </v-list-tile>
      <v-list-tile
        class="navelement green darken-2"
        @click.stop="toggleSidebarAndOpenGit"
      >{{git}}
      </v-list-tile>
      <v-list-tile
        class="navelement green darken-2"
        @click.stop="toggleHelpAndSidebar"
      >{{help}}
      </v-list-tile>
    </v-list>
    <v-dialog
      v-model="imprintDialog"
      fullscreen
      hide-overlay
    >
      <v-card>
        <v-card-title class="headline orange darken-4 v-system-bar--fixed" primary-title id="impressum-card-title">
          <v-btn icon dark @click.native="imprintDialog = false">
            <v-icon>close</v-icon>
          </v-btn>
          <v-toolbar-title>{{imprint}}</v-toolbar-title>
        </v-card-title>
        <v-card-text
          id="impressum-card-text"
          class="grey lighten-4 grey--text text--darken-4 text-xs-left"
          v-html="imprintContent"
          >
        </v-card-text>
      </v-card>
    </v-dialog>
    <v-dialog
      v-model="helpDialog"
      fullscreen
      hide-overlay
    >
      <v-card>
        <v-card-title class="headline orange darken-4 v-system-bar--fixed" primary-title id="help-card-title">
          <v-btn icon dark @click.native="helpDialog = false">
            <v-icon>close</v-icon>
          </v-btn>
          <v-toolbar-title>{{help}}</v-toolbar-title>
        </v-card-title>
        <v-card-text
            id="help-card-text"
          class="grey lighten-4 grey--text text--darken-4 text-xs-left  "
          v-html="helpContent"
        ></v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
  import * as lang from './languages/lang-de.json';

  export default {
    name: 'PageHeader',
    props: ['surveytitle', 'progress'],
    data() {
      return {
        sidebarVisible: false,
        imprint: lang['page-header'].imprint,
        git: lang['page-header'].git,
        help: lang['page-header'].help,
        helpContent: lang['page-header'].helpContent,
        imprintContent: lang['page-header'].imprintContent,
        logoDialog: false,
        imprintDialog: false,
        helpDialog: false
      };
    },
    computed: {
      progressDeterminate: function () {
        return this.progress * 100;
      },
    },
    methods: {
      toggleSidebar: function () {
        this.sidebarVisible = !this.sidebarVisible;
      },
      toggleHelpAndSidebar: function () {
          this.toggleSidebar();
          this.helpDialog=true;
      },
      toggleImpressumAndSidebar: function () {
        this.toggleSidebar();
        this.imprintDialog=true;
      },
        toggleSidebarAndOpenGit: function () {
            this.toggleSidebar();
            window.open('https://gitlab.gwdg.de/adam/sourcecode');
        }
    },
  };
</script>

<style scoped>
  .pageHeader {
    //position: relative;
    height: 6%;
    margin-bottom: 7px;
  }

  .pageHeader > * {
    padding: 0;
  }

  /* format logo-icon and menu-icon in size and design */

  .logo-btn {
    position: absolute;
    padding: 5px 5px 5px 10px;
    top: 0;
    left: 0;
    height: 100%;
    -webkit-filter: brightness(2.5) hue-rotate(20deg) drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.8));
    filter: brightness(2.5) hue-rotate(20deg) drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.8));
  }

  .logo-btn:hover {
    -webkit-filter: brightness(1.2);
    filter: brightness(1.2);
  }

  .v-btn {
    border-radius: 0;
    margin: 0;
  }

  .logo-btn, .icon-btn {
    position: absolute;
    height: 100%;
    border-radius: 0;
    right: 0;
  }

  .logo-btn {
    height: 100%;
  }

  .v-progress-linear {
    margin: 0;
  }

  .surveytitle {
    display: inline-flex;
    height: 100%;
    max-width: 80%;
    font-size: x-large;
    align-items: center;
  }

  .sidebar {
    display: block;
    position: fixed;
    right: 0;
    width: 250px;
    align-items: stretch;
    opacity: 1;
    /* make element always be on top */
    z-index: 999;
  }

  .navelement {
    padding: 0;
    height: auto;
  }

  .navelement:hover {
    filter: brightness(0.8) contrast(1.5) saturate(70%);
    cursor: pointer;
  }

  .sidebar:last-child {
    padding-bottom: 0;
  }

  /* On screens that are 992px or less -> touchable but screen-layout */
  @media screen and (max-width: 1028px) {
    .surveytitle {
      font-size: large;
      max-width: 75%;
    }
  }

  @media screen and (max-width: 400px) {
    .surveytitle {
      font-size: small;
    }
    .logo-btn {
      height: 80%;
      margin-top: 0.5ch;
      padding: 0 20px 0 5px;
    }
    .icon-btn {
      padding: 0;
      width: min-content;
    }
  }

  /* Screen height <= 700px */
  @media screen and (max-height: 700px) {
    .pageHeader {
      min-height: 45px;
    }
  }

  /* size all overlays */
  .v-card-text {
    height: 500px;
  }
  .easterEgg {
    text-align: left;
  }
  #help-card-text {
    padding-top: 100px;
  }
  #help-card-title {
    max-height: 100px;
  }
  #impressum-card-text {
    padding-top: 100px;
  }
  #impressum-card-title {
    max-height: 100px;
  }
</style>
